.blog-section {
  height: auto;

  header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkerblue-main;
    border-bottom: 0;

    h2 {
      font-size: 50px;
      font-weight: 900;
    }
  }

  .news-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .news-section div {
    position: relative;
  }

  .one {
    height: 260px;
  }

  .thumbline img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .news-content h6 {
    margin: 0.5rem 0;
    text-align: right;

    .date {
      font-weight: 900;
      color: $gray-color2;
      font-size: 13px;
    }
  }

  .news-content h2 {
    font-size: 1rem;
    font-weight: 900;
  }

  .news-content p {
    font-size: 14px;
    color: var(--gray-color2);
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .author-des {
    color: $black-main;

    h5 {
      font-weight: 800;
      font-size: 15px;
    }

    span {
      font-size: 13px;
      color: var(--gray-color2);
      font-weight: 700;
    }
  }
    .author {
      display: flex;
      align-items: center;
    }
  
    .author-image {
      width: 45px;
      height: 45px;
      margin-right: 10px;
  
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  
    .author-des {
      color: $black-main;
  
      h5 {
        font-weight: 800;
        font-size: 15px;
      }
  
      span {
        font-size: 13px;
        color: $gray-color2;
        font-weight: 700;
      }
    }
  
}
