@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

//=== color===
$white-main:#fff;
$lightblue-main:#89B6F6;
$darkblue-main:#4545C7;
$darkerblue-main: #0c266c;
$black-main:#000;
$light-white: #f8f8f8;
$light-black: #333;
 $gray-color: rgb(225, 221, 221);
  $gray-color2: #888;
$error-color: #f44336;
$abstract-green: #00fe83;


//===sizes===
$x-small: 0.5rem;
$smallmain:1rem;
$normal: 1.3rem;
$small: 1.6rem;
$medium: 2rem;
$large: 3rem;
$x-large: 5rem;
$xx-large: 7rem;

//===border-radius===
$border-main: 35px;

//==breakpoint===
$largeScreen: 1024px;
$mediumScreen: 764px;
$smallScreen: 641px;
$x-smallScreen: 480px;